extends ../layout

block content
  header
    nav(class="navbar navbar-expand-md navbar-dark fixed-top bg-dark")
      a(class="navbar-brand" href="/") Sono Perfeito
      button(class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarCollapse" aria-controls="navbarCollapse" aria-expanded="false" aria-label="Toggle navigation")
        span(class="navbar-toggler-icon")
      div(class="collapse navbar-collapse" id="navbarCollapse")
        ul(class="navbar-nav mr-auto")
          li(class="nav-item active")
            a(class="nav-link" href="/") Home
          li(class="nav-item")
            a(class="nav-link" href="services") Serviços
          li(class="nav-item")
            a(class="nav-link" href="#") Contatos
        a(class="btn btn-lg btn-outline-light font-weight-bolder", href="/users/create") Cadastrar Novo Usuário

        
  main(role="main" class="container")
    div(class="d-flex align-items-center p-3 my-3 text-white-50 bg-purple rounded box-shadow")
      img(class="mr-3" src="" alt="" width="48" height="48")
      div(class="lh-100")
        h6(class="mb-0 text-dark lh-100") Bootstrap
        small Since 2011

    div(class="my-3 p-3 bg-white rounded box-shadow")
      h6(class="border-bottom border-gray pb-2 mb-0") Recent updates
      div(class="media text-muted pt-3")
        img(data-src="holder.js/32x32?theme=thumb&bg=007bff&fg=007bff&size=1" alt="" class="mr-2 rounded")
        p(class="media-body pb-3 mb-0 small lh-125 border-bottom border-gray")
          strong(class="d-block text-gray-dark") @username
            | Donec id elit non mi porta gravida at eget metus. Fusce dapibus, tellus ac cursus commodo, tortor mauris condimentum nibh, ut fermentum massa justo sit amet risus.

      div(class="media text-muted pt-3")
        img(data-src="holder.js/32x32?theme=thumb&bg=007bff&fg=007bff&size=1" alt="" class="mr-2 rounded")
        p(class="media-body pb-3 mb-0 small lh-125 border-bottom border-gray")
          strong(class="d-block text-gray-dark") @username
            | Donec id elit non mi porta gravida at eget metus. Fusce dapibus, tellus ac cursus commodo, tortor mauris condimentum nibh, ut fermentum massa justo sit amet risus.
            
      div(class="media text-muted pt-3")
        img(data-src="holder.js/32x32?theme=thumb&bg=007bff&fg=007bff&size=1" alt="" class="mr-2 rounded")
        p(class="media-body pb-3 mb-0 small lh-125 border-bottom border-gray")
          strong(class="d-block text-gray-dark") @username
            | Donec id elit non mi porta gravida at eget metus. Fusce dapibus, tellus ac cursus commodo, tortor mauris condimentum nibh, ut fermentum massa justo sit amet risus.

      small(class="d-block text-right mt-3")
        a(href="#") All updates

    div(class="my-3 p-3 bg-white rounded box-shadow")
      h6(class="border-bottom border-gray pb-2 mb-0") Suggestions
      div(class="media text-muted pt-3")
        img(data-src="holder.js/32x32?theme=thumb&bg=007bff&fg=007bff&size=1" alt="" class="mr-2 rounded")
        div(class="media-body pb-3 mb-0 small lh-125 border-bottom border-gray")
          div(class="d-flex justify-content-between align-items-center w-100")
            strong(class="text-gray-dark") Full Name
            a(href="#") Follow
          span(class="d-block") @username

      div(class="media text-muted pt-3")
        img(data-src="holder.js/32x32?theme=thumb&bg=007bff&fg=007bff&size=1" alt="" class="mr-2 rounded")
        div(class="media-body pb-3 mb-0 small lh-125 border-bottom border-gray")
          div(class="d-flex justify-content-between align-items-center w-100")
            strong(class="text-gray-dark") Full Name
            a(href="#") Follow
          span(class="d-block") @username

      div(class="media text-muted pt-3")
        img(data-src="holder.js/32x32?theme=thumb&bg=007bff&fg=007bff&size=1" alt="" class="mr-2 rounded")
        div(class="media-body pb-3 mb-0 small lh-125 border-bottom border-gray")
          div(class="d-flex justify-content-between align-items-center w-100")
            strong(class="text-gray-dark") Full Name
            a(href="#") Follow
          span(class="d-block") @username

      small(class="d-block text-right mt-3")
        a(href="#") All suggestions
