doctype html
html(lang="pt-br")
  head
    title= title
    meta(charset='utf-8')
    meta(name='viewport', content='width=device-width, initial-scale=1')
    link(rel='stylesheet', href='/stylesheets/style.css')
    link(rel='stylesheet', href='/stylesheets/bootstrap.css')
    script(src='javascript/bootstrap.js')
    script(src='javascript/jquery-3.4.1.js')
    link(rel='stylesheet', href='/stylesheets/style.css')
    link(rel='stylesheet', href='/stylesheets/cover.css')
  body
    block header
            
    block content
          
    footer(class="footer mt-auto py-3")
      div(class="container")
        span(class="text-center")
          p 
            strong Sono Perfeito &copy;2019
