extends ../layout

block header
  nav(class="navbar navbar-expand-md navbar-dark fixed-top bg-dark")
    a(class="navbar-brand" href="/") Sono Perfeito
    button(class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarCollapse" aria-controls="navbarCollapse" aria-expanded="false" aria-label="Toggle navigation")
      span(class="navbar-toggler-icon")
    div(class="collapse navbar-collapse" id="navbarCollapse")
      ul(class="navbar-nav mr-auto")
        li(class="nav-item")
          a(class="nav-link" href="users") Usuários
        li(class="nav-item")
          a(class="nav-link" href="services") Serviços
        li(class="nav-item")
          a(class="nav-link" href="contatos") Contatos
      a(class="btn btn-lg btn-outline-light font-weight-bolder", href="/users/create") Cadastrar Novo Usuário

block content
  main(role="main" class="container")
    div(class="container")
    

    div(class="my-3 p-3 bg-white rounded box-shadow")
      h3(class="border-bottom border-gray pb-2 mb-0")= title
      div(class="media text-muted pt-3")
        p(class="media-body pb-3 mb-0 lh-125 border-bottom border-gray") Nome: #{user.nome}

      div(class="media text-muted pt-3")
        p(class="media-body pb-3 mb-0' lh-125 border-bottom border-gray") Email: #{user.email}
            
      div(class="media text-muted pt-3")
        p(class="media-body pb-3 mb-0 lh-125 border-bottom border-gray") Perfil: #{user.perfil}

      button(class="btn btn-primary m-2 float-right" type="button")
        a(class="text-white" href="/users/") Voltar
