extends ../layout

block header
  nav(class="navbar navbar-expand-md navbar-dark fixed-top bg-dark")
    a(class="navbar-brand" href="/") Sono Perfeito
    button(class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarCollapse" aria-controls="navbarCollapse" aria-expanded="false" aria-label="Toggle navigation")
      span(class="navbar-toggler-icon")
    div(class="collapse navbar-collapse" id="navbarCollapse")
      ul(class="navbar-nav mr-auto")
        li(class="nav-item active")
          a(class="nav-link" href="/users/customers") Clientes
        li(class="nav-item")
          a(class="nav-link" href="/users/employees") Funcionários
        li(class="nav-item")
          a(class="nav-link" href="/users") Todos os Usuários
      a(class="btn btn-lg btn-outline-light font-weight-bolder", href="/users/create") Cadastrar Novo Usuário

block content
  main(role="main" class="container")
      
    if success
    
      div(class="container w-50 mt-3")
        div(class="px-2 py-1 mx-1 my-2 text-light bg-success rounded box-shadow row")
          p(class="lh-100 font-weight-bolder my-1") #{message}
        
    else if error
      
      div(class="container w-50 mt-3")
        div(class="px-3 py-2 mt-3 mb-2 text-light bg-danger rounded box-shadow")
          p(class="lh-100 font-weight-bolder my-1") #{message}
          p
            small #{error}
        div(class="w-25 text-center mx-auto bg-danger rounded")
          button(class="btn btn-outline-danger m-2" type="button")
            a(class="text-white" href="/users/create") Voltar
          
    else
      
      div(class="container w-50 mt-4")
        h2(class="text-center mt-2")=title

        form(method="post" action='update/' + user._id)
          div.form-group.mt-4
            label(for='nome') Nome:
            input#nome.form-control(type='text' placeholder='Digite seu nome' name='nome' required='true' value=(undefined===user ? '' : user.nome) )
          div.form-group.mt-4
            label(for='email') Email:
            input#email.form-control(type='text' placeholder='Digite seu email' name='email' required='true' value=(undefined===user ? '' : user.email))
          div.form-group.mt4
            label(for="senha") Password
            input#senha.form-control(type="password"  placeholder="Digite sua senha" name="senha" required='true' value=(undefined===user ? '' : user.senha))
          div.form-group.row.mt4
            legend.col-form-label.col-sm-2(for="perfil") Perfil
            div.col-sm-10
              div.form-check
                input(class="form-check-input" type="radio" name="perfil" id="perfil" value="Cliente" checked)
                label(class="form-check-label" for="perfil") Cliente
              div.form-check
                input(class="form-check-input" type="radio" name="perfil" id="perfil" value="Colaborador")
                label(class="form-check-label" for="perfil") Colaborador
              div.form-check
                input(class="form-check-input" type="radio" name="perfil" id="perfil" value="Administrador")
                label(class="form-check-label" for="perfil") Administrador

          button.btn.btn-primary.mb-5(type='submit') Salvar
